.card__button {
    display: none;
    width: 160px;
    height: 32px;
    background-color: #E85137;
    border: 2px solid #E85137;
    border-radius: 8px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
    color: #E5E5E5;
}

@media screen and (min-width: 1024px) {
    .card__button {
        display: block;
    }
}