.application-form__routing-link {
  position: absolute;
  color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
