.footer__info {
    width: 89.47%;
    min-height: 69px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1024px) {
    .footer__info {
        width: 81.01%;
        min-height: 64px;
        align-items: flex-end;
    }
}