.form__link {
    width: 144px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #0062FF;
    outline: none;
    margin: -8px auto 24px;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .form__link {
        margin: auto;
        width: 186px;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
    }
}