.application-form__text_type_poems {
  margin: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}

.application-form__text_type_poems:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 425px) {
  .application-form__text_type_poems {
    line-height: 16px;
  }
}
