.card__subtext {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #000;
  width: 88px;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .card__subtext {
    width: 136px;
  }
}
