.item__image {
    width: 64px;
    height: 64px;
    border-radius: 8px;
}

@media screen and (min-width: 1024px) {
    .item__image {
        width: 160px;
        height: 160px;
        padding-bottom: 16px;
    }
}