.lead__button {
  width: 100%;
  height: 32px;
  background-color: #e85137;
  border: 2px solid #e85137;
  border-radius: 8px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #f5f1e6;
}

@media screen and (min-width: 1024px) {
  .lead__button {
    width: 336px;
    height: 56px;
    font-size: 24px;
    line-height: 28px;
  }
}
